.hotels__logos {
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	width: calc(1370px - 100px);

	// .swiper-slide {
	// 	// width: calc((100% / 7) - 60px) !important;

	// 	// @media screen and (max-width: 768px) {
	// 	// 	width: calc((100% / 3) - 40px) !important;
	// 	// }
	// }

	@media screen and (max-width: 1439px) {
		max-width: calc(100% - 100px);
	}
}
